<ion-app>
  
  <ion-router-outlet></ion-router-outlet>
  <!-- <ion-header>
    <ion-toolbar>
         <ion-text color="primary">Bio-App</ion-text>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <table>
      <caption>Bio-App</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Qualifiction</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Gender</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </ion-content> -->
</ion-app>

